*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



a{
    text-decoration: none;
    color: white;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 9%; 
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: Show-navbar 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes Show-navbar{
    100%{
        visibility: visible;
        opacity: 1;
    }
    
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin: 0 20px;
}

.navbar ul li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition:  0.3s ease;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d ;
}


.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 60px 9% 0 ;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: Show-navbar 1.5s linear forwards;
    animation-delay: 1.6s;
    gap: 50px;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;

}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.7px #7cf03d;
    animation: display-Text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-Text{
    25%,100%{
        display: none;
    }
}


.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    animation: fill-text 4s linear infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes fill-text{
   10%,
   100% {
        width: 0;
    }

    70%,
    90%{
        width: 100%;
    }
}


.btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #7cf03d;
    color: #1f241f;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    transition: 0.3s ease;
    border: 2px solid #7cf03d;
    box-shadow: 0 0 10px #7cf03d  ;
}

.btn:hover{
    background-color: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    font-size: 20px;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    transition: 0.3s ease;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
}

.home-info .btn-sci .sci a:hover{
    background-color: #7cf03d;
    color: #1f241f;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box{
    position: relative;
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background: conic-gradient(transparent , transparent ,transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate 10s linear infinite;
}
.home-img .img-box::after{
    animation-delay: -5s;
}



@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}


.home-img .img-box .img-item{
    position: relative;
    height: 100%;
    width: 100%;
    border: 0.1px solid #1f241f;
    border-radius: 50%;
    background-color: #1f241f;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.home-img .img-box .img-item img{
   position: absolute;
    display: block;
    top: -189px;
    width: 165%;
    border-radius: 50%;
    mix-blend-mode: lighten;
}

.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: #1f241f;
    transform: translateY(-100% );
    animation: Show-bars 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes Show-bars{
    100%{
        transform: translateY(0%);
    }
}